footer {
    background-color:#efeae24d;

}
footer ul {

    list-style-type: none;
}
.contact {
  vertical-align:70px;
  margin-right:20px;
}
footer {
    box-sizing: border-box;
    height:300px;
}
footer div {
    display:inline-block;
}
.link img {
    width:200px;
    height:200px;
    display:block;
}
.video>iframe {
    width:487px;
    height:300px;
}


    



/*footer>form {
    border:5px solid gray;
    max-width: 1400px;
    padding:0;
    margin:0;
}*/
.contact>ul {
    display: inline;
}
#map {
    display:inline-block;
    width:450px;
    height:300px;

}
* {
    padding:0px;
    margin:0px;
}
.like-comments {
    margin-top:20px;
    display:block;
}